@borderColor: #ddd;
@width: 10px;
.wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  .operate {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    outline: 1px dashed @borderColor;
    .circleArea {
      width: @width;
      height: @width;
      border-radius: 50%;
      border: 1px solid @borderColor;
      position: absolute;
      &.tl {
        top: -5px;
        left: 0px;
      }
    }
    .rectangleArea {
      width: @width;
      height: @width;
      border: 1px solid @borderColor;
    }
  }
}